{% extends 'servicios/base.html' %}

{% block header %}
    Sobre el Alumno
{% endblock header %}

{% block main %}
    <section>
        <h2>Información del Alumno</h2>
        <p>Nombre: Milton del Río</p>
        <p>Rol en el proyecto: Desarrollador</p>
        <p>Experiencia previa en desarrollo: Este es mi primer curso en desarrollo.</p>
        <p>Motivación para crear este proyecto: Siempre he tenido un gran interés por la programación y quería estudiar más al respecto.</p>
        <p>Intereses personales: Me gusta aprender sobre nuevas tecnologías y cómo pueden mejorar la vida cotidiana.</p>
        <p>Objetivos a largo plazo: Aspiro a convertirme en un desarrollador experimentado, capaz de crear aplicaciones que tengan un impacto positivo.</p>
    </section>
{% endblock main %}